@using hc.epm.DataModel.Business;
@using System.Collections.Generic;
@model IEnumerable<Epm_OilStation>
@{
    ViewBag.Title = "加油站列表";
}

<div class="content-right date-wrap fl c">
    <div class="search mt5">
        <form class="layui-form" action="" method="get">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:100px;">名称 : </label>
                <div class="layui-inline">
                    <div class="layui-input-inline"><input type="text" name="name" id="name" placeholder="请输入加油站名称" autocomplete="off" class="layui-input" value="@ViewBag.name" /></div>
                </div>
                <input type="submit" class="layui-btn layui-btn-radius layui-btn-warm" lay-filter="search" value="搜 索" />
            </div>
        </form>
    </div>
    <div class="main mt5">
        <div class="btns">
            <a href="javascript:;" id="add">新 增</a>
            <a href="javascript:;" id="delete">删 除</a>
        </div>
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th width="5%" class="table-center">
                            <input type="checkbox" lay-skin="primary" lay-filter="allChoose" />
                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
                        </th>
                        <th width="60" class="table-center">序号</th>
                        <th width="12%" class="table-center">编号</th>
                        <th width="12%" class="table-center">单位编码</th>
                        <th width="35%" class="table-center">名称</th>
                        <th class="table-center">简介</th>
                        <th width="90" class="table-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 0;
                    }
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            index++;
                            <tr>
                                <td class="table-center">
                                    <input type="checkbox" lay-skin="primary" name="chName" />
                                    <input type="hidden" name="id-@item.Id" id="id-@item.Id" value="@item.Id" />
                                </td>
                                <td class="table-center">@index</td>
                                <td class="table-center">@item.Code</td>
                                <td class="table-center">@item.Code1</td>
                                <td class="table-center">@item.Name</td>
                                <td class="table-center">@item.Description</td>
                                <td class="table-center">
                                    <a href="javascript:;" class="editor-link" data-itemid="@item.SId" title="编辑"><i class='glyphicon glyphicon-pencil handle-blue'></i></a>
                                    <a href="/OilStation/Detail?id=@item.SId" class="detail-link checkright" data-itemid="@item.SId" title="详情" data-right="info" style="display: inline;"><i class="glyphicon glyphicon-list-alt handle-blue"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="table-center">
                                暂无数据
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="page"></div>
        </div>
        </div>
</div>
<script>
    //若无数据隐藏分页组件
    if ('@ViewBag.Total' == 0) {
        $("#page").hide();
    }
    layui.use(['layer', 'form', 'element', 'laypage'], function () {
        var layer = layui.layer, form = layui.form, element = layui.element, $ = layui.jquery, laypage = layui.laypage;

        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[name="chName"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        //分页
        laypage.render({
            elem: 'page',
            count: '@ViewBag.Total',
            curr: '@ViewBag.pageIndex',
            layout: ['prev', 'page', 'next', 'skip', 'count', ],
            jump: function (obj, first) {
                if (!first) {
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    var search = $("form").serialize();
                    window.location.href = "/OilStation/Index?pageIndex=" + curr + "&" + search;
                }
            }
        });


        //修改
        $(".editor-link").click(function () {
            var id = $(this).data("itemid");
            if (id != "") {
                parent.layer.open({
                    type: 2,
                    title: GetLayerTitle("加油站-编辑"),
                    shadeClose: false, //点击遮罩关闭层
                    area: [BigLayerWidth, '600px'],
                    content: '/OilStation/Edit/' + id
                });
            }

        });
        //增加
        $("#add").click(function () {
            parent.layer.open({
                type: 2,
                title: GetLayerTitle("加油站-添加"),
                shadeClose: false, //点击遮罩关闭层
                area: [BigLayerWidth, '600px'],
                content: '/OilStation/Add'
            });
        });

        //删除
        $("#delete").click(function () {
            var chkItems = $('.layui-table tbody input[type="checkbox"]:checked');
            var ids = "";
            chkItems.each(function (index, item) {//获取选择要删除的项
                var hfId = $(this).parent().find("input[type='hidden']");
                ids += hfId.val() + ",";
            });
            if (ids != "") {
                parent.layer.confirm("确认要删除所选择的项？", { icon: 3 }, function () {//批量删除单位
                    $.post("/OilStation/Delete", { ids: ids }, function (data) {
                        if (data.Flag) {
                            parent.layer.msg("删除成功", { time: 1000, icon: 1 });
                            var search = $("form").serialize();
                            window.location.href = "/OilStation/Index?pageIndex=1&" + search;
                        } else {
                            parent.layer.alert(data.Message, { icon: 2 });
                        }
                    }, "json");
                }, function () {
                    return;
                })

            } else {
                parent.layer.alert("请先选择要删除的数据", { icon: 2 });
            }

        });
    });
</script>
