
@using hc.epm.Common;
@using hc.Plat.Common.Extend;
@using hc.epm.ViewModel
@model MaterialView
@{
    ViewBag.Title = "Edit";
}
<style>
    .datalist tr td {
        padding: 2px;
    }

        .datalist tr td input[type="text"] {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            padding: 0 10px;
            box-sizing: border-box;
        }

    .selectpicker {
        width: 100%;
        height: 100%;
    }
</style>
<div class="contentData">
    <form id="mainForm">
        <div class="tab">
            <div class="long-text">
                <label><span class="star">*</span>&nbsp;项目名称&nbsp;:</label>
                <input type="text" name="ProjectName" id="ProjectName" value="@Model.Epm_Material.ProjectName" readonly />
                <i class="pic iconfont ProjectName_icon" width="20" height="30" style="cursor:pointer; left:596px;">&#xe76a;</i>
                <input type="hidden" name="Id" id="Id" value="@Model.Epm_Material.Id" />
                <input type="hidden" name="ProjectId" id="ProjectId" value="@Model.Epm_Material.ProjectId" />
            </div>
            @*<div class="long-text">
                <label><span class="star">*</span>&nbsp;验收地址&nbsp;:</label>
                <input type="text" name="CheckAddress" id="CheckAddress" value="@Model.Epm_Material.CheckAddress" />
            </div>*@
            <div class="short-text">
                <label><span class="star">*</span>&nbsp;验收日期&nbsp;:</label>
                <input type="text" id="CheckTime" name="CheckTime" onClick="WdatePicker({ el: 'CheckTime',maxDate:'%y-%M-%d'})" value="@(Model.Epm_Material.CheckTime == null ? "" : Convert.ToDateTime(Model.Epm_Material.CheckTime).ToString("yyyy-MM-dd"))" readonly>
                <i onClick="WdatePicker({ el: 'CheckTime',maxDate:'%y-%M-%d' })" class="pic iconfont" width="20" height="30" style="cursor:pointer">&#xe7e2;</i>
            </div>
            @*<div class="intro">
                <div><label><span class="star"></span>&nbsp;验收内容&nbsp;:</label></div>
                <div>
                    <textarea class="sub-description" name="CheckContent" id="CheckContent">@Model.Epm_Material.CheckContent</textarea>
                </div>
            </div>*@
            <div class="long-text">
                <label><span class="star "></span>&nbsp;供应商&nbsp;:</label>
                <input type="text" name="SupplierName" id="SupplierName" readonly value="@Model.Epm_Material.SupplierName" />
                <i class="pic iconfont SupplierName_icon" width="20" height="30" style="cursor:pointer; left:596px;">&#xe76a;</i>
                <input type="hidden" name="SupplierId" id="SupplierId" value="@Model.Epm_Material.SupplierId" />

            </div>
            <div class="short-text" style="display:none;">
                <label><span class="star">*</span>&nbsp;是否合格&nbsp;:</label>
                <select id="IsQualified" name="IsQualified">
                    @if (Model.Epm_Material.IsQualified == true)
                    {
                        <option value="true" selected>是</option>
                        <option value="false">否</option>
                    }
                    else if (Model.Epm_Material.IsQualified == false)
                    {
                        <option value="true">是</option>
                        <option value="false" selected>否</option>
                    }
                </select>
            </div>
            <div class="long-text" style="display:none;">
                <label><span class="star">*</span>&nbsp;验收单位&nbsp;:</label>
                <input type="text" name="CheckCompanyName" id="CheckCompanyName" readonly value="@Model.Epm_Material.CheckCompanyName" />
                <input type="hidden" name="CheckCompanyId" id="CheckCompanyId" value="@Model.Epm_Material.CheckCompanyId" />
                <i class="pic iconfont" width="20" height="30" style="cursor:pointer; left:596px;">&#xe76a;</i>
            </div>
            <div class="long-text" style="display:none;">
                <label><span class="star">*</span>&nbsp;验收人&nbsp;:</label>
                <input type="text" name="CheckUserName" id="CheckUserName" readonly value="@Model.Epm_Material.CheckUserName" />
                <input type="hidden" name="CheckUserId" id="CheckUserId" value="@Model.Epm_Material.CheckUserId" />
                <i class="pic iconfont" width="20" height="30" style="cursor:pointer; left:596px;">&#xe76a;</i>
            </div>
            <div class="contract">
                <div><label><span class="star">*</span>&nbsp;工器具机械&nbsp;:</label></div>
                <table class="datalist" style="width:80%">
                    <thead>
                        <tr>
                            <th width="20%">名称</th>
                            <th width="10%">型号</th>
                            <th width="10%">数量</th>
                            <th width="15%">单位</th>
                            <th width="15%">备注</th>
                            <th width="10%">操作&nbsp;&nbsp;<a href="javascript:" class="add" style="color:blue;">添加</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MaterialDetails.Any())
                        {
                            foreach (var item in Model.MaterialDetails)
                            {
                                <tr>
                                    <td>
                                        <input type="text" value="@item.Name" />
                                    </td>
                                    <td>
                                        <input type="text" value="@item.Model" />
                                    </td>
                                    <td>
                                        <input type="text" value="@(string.Format("{0:0.##}",item.Qty))"/>
                                    </td>
                                    <td>
                                        <input type="text" value="@item.Unit" />
                                    </td>
                                    <td>
                                        <input type="text" value="@item.Remark" />
                                    </td>
                                    <td>
                                        <a href="javascript:" class="delete">删除</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @*<div class="upload" style="margin-bottom:0px;">
                <div><label><span class="star">*</span>&nbsp;附件上传&nbsp;:</label></div>
                <div class="btn-upload">
                    <input type="button" id="btnUploadFile" style="position: relative; z-index: 1;" value="上传附件" />
                    <input type="file" id="loadFile" name="loadFile" style="display:none" onchange="uploadFile()">
                </div>
            </div>
            <div style="width:100%;" id="fileListFile">
                <ul class="fileShow"></ul>
                <input type="hidden" name="fileDataJsonFile" id="fileDataJsonFile">
            </div>*@
            <div class="button-group btn-center">
                <input type="hidden" name="State" id="State" />
                @if (Model.Epm_Material.State == int.Parse(ConfirmState.ConfirmFailure.GetValue().ToString()))
                {
                    <button type="button" class="btnSub" data-state="@(ConfirmState.WaitConfirm.GetValue().ToString())">提交</button>
                    <button type="button" class="Discarded checkright" data-module="Material" data-right="Invalid">废弃</button>
                    <button type="button" class="Communite">沟通</button>
                }
                else if (Model.Epm_Material.State != int.Parse(ConfirmState.Discarded.GetValue().ToString()))
                {
                    <button type="button" class="btnSub" data-state="@(ConfirmState.WaitConfirm.GetValue().ToString())">提交</button>
                    <button type="button" class="btnSub" data-state="@(ConfirmState.Enabled.GetValue().ToString())">保存</button>
                }
                else {
                    <button type="button" class="Communite">沟通</button>
                }
                <input type="hidden" name="MaterialDetails" id="MaterialDetails" />
            </div>
        </div>
    </form>
</div>
<script>
    //var fileDataArray = [];
    //function uploadFile() {
    //    if (document.getElementById("loadFile").files.length == 0) {
    //        return;
    //    }
    //    var fileObj = document.getElementById("loadFile").files[0]; // js 获取文件对象
    //    var formFile = new FormData();
    //    formFile.append("file", fileObj);
    //    var path = formFile;

    //    $.ajax({
    //        url: "/Upload/UploadHB",
    //        type: "POST",
    //        data: path,
    //        contentType: false,
    //        processData: false,
    //        success: function (data) {
    //            for (var i = 0; i < data.length; i++) {
    //                var obj = {};
    //                obj.Name = data[i].Name;
    //                obj.GuidId = data[i].GuidId;
    //                obj.Size = data[i].Size;
    //                obj.ImageType = data[i].ImageType;
    //                obj.Group = data[i].ResponseObject.FDFS_GROUP;
    //                obj.Url = data[i].ResponseObject.FDFS_NAME;
    //                fileDataArray.push(obj);

    //                if (data[i].ImageType == null) {
    //                    var imgUrl = getFileImg(obj.Name);
    //                    var odiv = '<li id="' + obj.GuidId + '">';
    //                    odiv += '<div><img src="' + imgUrl + '" style="width: 20px;height: 20px;cursor: pointer;" class="imgShow"/><a href="javascript:;" target="_blank">' + obj.Name + '</a></div>';
    //                    odiv += '<div style="text-align:right; width:80px;">' + obj.Size + '</div>';
    //                    odiv += '<span style="margin-left:20px;">' + data[i].UploadName + '</span>';
    //                    odiv += '<span style="margin-left:20px;">' + new Date(formatDateByJson(data[i].UploadDate)).Format("yyyy-MM-dd") + '</span>';
    //                    odiv += '<span style="margin-left:20px;cursor: pointer;color:blue" class="fileDel" data-val="' + obj.GuidId + '">删除</span>'
    //                    odiv += '</li>';
    //                    $('#fileListFile .fileShow').append(odiv);
    //                }
    //            }
    //            fileDataJson = JSON.stringify(fileDataArray);
    //            $("#fileDataJsonFile").val(fileDataJson);
    //            $("#loadFile").val("");
    //        }
    //    });
    //}

    $(function () {
        //$('#btnUploadFile').click(function () {
        //    document.getElementById("loadFile").click();
        //});
        var validator = $("#mainForm").validate({
            errorClass: "validaterror",
            validClass: "validatevalid",
            errorElement: "span",
            success: function (label) {
                label.addClass("validatevalid").html("&nbsp;");
            },
            rules: {
                ProjectName: {
                    required: true,
                    maxlength: 200
                },
                //CheckAddress: {
                //    required: true,
                //    maxlength: 200
                //},
                CheckTime: {
                    required: true,
                    date: true
                },
            },
            messages: {
                ProjectName: {
                    required: "项目名称不能为空"
                },
                //CheckAddress: {
                //    required: "验收地址不能为空",
                //    maxlength: "验收地址不能大于200个字符"
                //},
                CheckTime: {
                    required: "上传日期不能为空",
                    date: "日期格式错误"
                },
            }
        })
        layui.use(['layer', 'form', 'element', 'laypage'], function () {
            var layer = layui.layer, form = layui.form, element = layui.element, $ = layui.jquery, laypage = layui.laypage;
            //$("#IsQualified").val($(".IsQualified").val())
            //在建项目选择
            $("#ProjectName,.ProjectName_icon").click(function () {
                layer.open({
                    type: 2,
                    title: GetLayerTitle("选择项目"),
                    shadeClose: false, //点击遮罩关闭层
                    area: ['800px', '600px'],
                    content: '/Comm/SelectProjectAll',
                    btn: ["确定", "取消"],
                    yes: function (index, layero) {
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var obj = iframeWin.getSelectData();
                        if (obj && obj.flag && obj.data) {
                            $("#ProjectName").val(obj.data[0].Name);
                            $("#ProjectId").val(obj.data[0].Id);
                            layer.close(index);
                        } else if (!obj.flag) {
                            parent.layer.msg(obj.msg, { time: 1000, icon: 2 });
                            return false;
                        }
                    },
                    btn2: function (index, layero) {

                    },
                    cancel: function (index, layero) {
                    },
                });
            });

            @*//获取附件
            $.post("/Files/GetFileList", { tableName: 'Epm_Material', id: '@Model.Epm_Material.Id' }, function (data) {
                if (data.Flag) {
                    if (data.Data.length > 0) {
                        data.Data.forEach(function (item, index, arr) {
                            if (item.ImageType == null) {
                                var odiv = '<li id="' + item.GuidId + '">';
                                odiv += '<div class="downloadFile"><img src="' + getFileImg(item.Name) + '" style="width: 20px;height: 20px;cursor: pointer;" class="imgShow"/><a href="javascript:;" target="_blank">' + item.Name + '</a></div>';
                                odiv += '<div>' + item.Size + '</div>';
                                odiv += '<span style="margin-left:20px;">' + item.CreateUserName + '</span>';
                                odiv += '<span style="margin-left:20px;">' + new Date(formatDateByJson(item.CreateTime)).Format("yyyy-MM-dd") + '</span>';
                                odiv += '<span style="margin-left:30px;cursor: pointer;color:blue" class="fileDel" data-val="' + item.GuidId + '">删除</span>';
                                odiv += '<input type="hidden" class="hiddenArea" data-group="' + item.Group + '" data-url="' + item.Url + '" data-filename="' + item.Name + '">';
                                odiv += '</li>';
                                $('#fileListFile .fileShow').append(odiv);
                            }

                            var obj = {};
                            obj.Name = item.Name;
                            obj.GuidId = item.GuidId;
                            obj.Size = item.Size;
                            obj.Group = item.Group;
                            obj.Url = item.Url;
                            obj.TableColumn = item.TableColumn;
                            obj.ImageType = item.ImageType;
                            fileDataArray.push(obj);
                        })
                        fileDataJson = JSON.stringify(fileDataArray);
                        $("#fileDataJsonFile").val(fileDataJson);
                    }
                } else {
                    parent.layer.alert(data.Message, { icon: 2 });
                }
            });

            //删除附件
            $("#fileListFile").on("click", ".fileDel", function () {
                $(this).parents("li").remove();
                var toremove = '';
                var id = $(this).data("val");
                //----删除初始文件对应的值
                fileDataArray = fileDataArray.filter(function (item, index, arr) {
                    return item.GuidId != id
                })
                fileDataJsonFile = JSON.stringify(fileDataArray);
                $("#fileDataJsonFile").val(fileDataJsonFile);
            });
            //下载附件
            $("body").on("click", ".downloadFile", function () {
                var group = $(this).parent().find(".hiddenArea").data("group");
                var path = $(this).parent().find(".hiddenArea").data("url");
                var fileName = $(this).parent().find(".hiddenArea").data("filename");
                window.location.href = "/Download/DownLoadHB?group=" + group + "&path=" + path + "&fileName=" + fileName;
            });*@
            //选择供应商
            $(".SupplierName_icon,#SupplierName").click(function () {
                layer.open({
                    type: 2,
                    title: GetLayerTitle("选择单位"),
                    shadeClose: false, //点击遮罩关闭层
                    area: ['800px', '600px'],
                    content: '/Comm/SelectServiceCustomer?selectType=1',
                    btn: ["确定", "取消"],
                    yes: function (index, layero) {
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var obj = frames['layui-layer-iframe' + index].getSelectData();
                        if (obj.flag === false) {
                            layer.alert(obj.msg, { icon: 2 });
                        } else {
                            $("#SupplierName").val(obj.data[0].Name)
                            $("#SupplierId").val(obj.data[0].Id)
                            layer.close(index);
                        }
                    },
                    btn2: function (index, layero) {
                    },
                    cancel: function (index, layero) {
                    },
                });
            });
            //提交和保存数据
            $(".btnSub").click(function () {
                if (!validator.form()) {
                    return false;
                }
                //if ($(".fileShow li").length == 0) {
                //    layer.alert("请先上传附件", { icon: 2 });
                //    return false;
                //}
                var materialDetails = [];
                var IsTrue = false;
                $("tbody tr").each(function (index, item) {
                    var Name, Model, Qty, Unit, Remark;
                    Name = $(item).children("td:eq(0)").children("input").val();
                    Model = $(item).children("td:eq(1)").children("input").val();
                    Qty = parseFloat($(item).children("td:eq(2)").children("input").val());
                    Unit = $(item).children("td:eq(3)").children("input").val();
                    Remark = $(item).children("td:eq(4)").children("input").val();
                    if (!Name) {
                        layer.alert("物料名称不能为空", { icon: 2 });
                        IsTrue = true;
                        return;
                    } else if (Name.length > 100) {
                        layer.alert("物料名称长度不能大于100个字符", { icon: 2 });
                        IsTrue = true;
                        return;
                    }
                    if (!Model) {
                        layer.alert("物料型号不能为空", { icon: 2 });
                        IsTrue = true;
                        return;
                    } else if (Model.length > 100) {
                        layer.alert("物料型号长度不能大于100个字符", { icon: 2 });
                        IsTrue = true;
                        return;
                    }
                    if (!Qty || Qty < 0) {
                        layer.alert("物料数量只能为正数且不能为空", { icon: 2 });
                        IsTrue = true;
                        return;
                    }
                    if (!Unit) {
                        layer.alert("物料单位不能为空", { icon: 2 });
                        IsTrue = true;
                        return;
                    } else if (Unit.length > 50) {
                        layer.alert("物料单位长度不能大于50个字符", { icon: 2 });
                        IsTrue = true;
                        return;
                    }
                    materialDetails.push({
                        Name: Name,
                        Model: Model,
                        Qty: Qty,
                        Unit: Unit,
                        Remark: Remark
                    })
                });
                if (!IsTrue) {
                    if (materialDetails.length > 0) {
                        materialDetails = JSON.stringify(materialDetails);
                        $("#MaterialDetails").val(materialDetails)
                        var State = $(this).data("state");
                        $("#State").val(State)
                        var params = $("#mainForm").serialize();
                        $.post("/Material/Edit", params, function (result) {
                            if (result.Flag) {
                                layer.msg("操作成功", { tiem: 1000, icon: 1 })
                                location.href = "/Material/Index";
                                return false
                            }
                            layer.alert(result.Message, { icon: 2 })
                        })
                    } else {
                        layer.alert("材料设备列表不能为空", { icon: 2 });
                        return;
                    }
                }
            });

            //废弃
            $(".Discarded").click(function () {
                layer.confirm("确定废弃？", { icon: 3 }, function () {
                    var id = $("#Id").val();
                    $.post("/Material/Discard", { id}, function(result) {
                        if (result.Flag) {
                            layer.msg("操作成功", { icon: 1 });
                            window.location.reload();
                            return false;
                        }
                        layer.alert(result.Message, { icon: 2 });
                    });
                });
            });

            //沟通
            $(".Communite").click(function () {
                var projectId = $("#ProjectId").val();
                window.location.href = "/Question/Add?businType=Equipment&projectId=" + projectId + "&BusinessId=" + $("#Id").val();
            });


            //验收项目下拉框取得默认值
            var DroplistItemNo = $(".DroplistNo").parent();
            DroplistItemNo.each(function (index, item) {
                $(item).find(".type").val($(item).find(".DroplistNo").val())
            })

            //添加验收项目
            $('table').on('click', '.add', function () {
                var newTime = new Date().getTime();
                var tr = `
                        <tr>
                            <td>
                                <input type="text"/>
                            </td>
                            <td>
                                <input type="text"/>
                            </td>
                            <td>
                                <input type="text"/>
                            </td>
                            <td>
                                <input type="text"/>
                            </td>
                             <td>
                                <input type="text"/>
                            </td>
                            <td>
                                <a href="javascript:" class ="delete" style="color:blue;">删除</a>
                            </td>
                        </tr>
                        `
                $('tbody').append(tr);
            })
            //删除验收项目
            $("table").on("click", ".delete", function () {
                $(this).parent().parent().remove();
            })
        });
    });
</script>
