@using hc.epm.DataModel.Business;
@using System.Collections.Generic;
@using hc.epm.Common
@using hc.Plat.Common.Extend;
@using hc.epm.UI.Common;
@model List<Epm_Contract>
@{
    ViewBag.Title = "合同列表";
}

<div class="contentData">
    <div class="form-select ">
        <form method="get" class="c">
            <div>
                @*<div>
                    <label>项目名称 : </label>
                    <input type="text" name="ProjectName" id="ProjectName" value="@ViewBag.ProjectName" maxlength="50">
                    <input type="hidden" name="ProjectId" id="ProjectId">
                </div>*@
                <div><label>合同名称 : </label><input type="text" name="Name" id="Name" value="@ViewBag.name" maxlength="50"></div>
                <div>
                    <label>合同状态 : </label>
                    @Html.DropDownList("state", ViewBag.ApprovalState as SelectList)
                </div>
                <div>
                    <label>合同类型 : </label>
                    @Html.DropDownList("ContractType", ViewBag.ContractType as SelectList)
                </div>
            </div>
            <div class="form-sub">
                <button type="button" id="add" data-module="Contract" data-right="add" class="checkright">新 增</button>
                <button type="submit">查 询</button>
            </div>
        </form>
    </div>
    <div>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word">
            <thead>
                <tr>
                    <th width="30">序号</th>
                    <th width="100">合同名称</th>
                    <th width="100">合同编号</th>
                    <th width="100">分公司</th>
                    <th width="100">相对方</th>
                    <th width="70">合同金额<br>(万元)</th>
                    <th width="80">签订时间</th>
                    <th width="70">合同类型</th>
                    <th width="60">状态</th>
                    @*<th width="100" id="thProject">项目名称</th>*@
                    <th width="80">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = (ViewBag.pageIndex - (ViewBag.pageIndex - 1)) * ((ViewBag.pageIndex - 1) * 10);
                }
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        index++;
                        <tr>
                            <td style="display:none">
                                <input type="hidden" class="inputId" data-id="@item.Id" data-sid="@item.SId" />
                            </td>
                            <td>@index</td>
                            <td>@item.Name</td>
                            <td>@item.Code</td>
                            <td>@item.FirstPartyName</td>
                            <td>@item.SecondPartyName</td>
                            <td>@item.Amount.ToString("0.######")</td>
                            <td>@(item.SignTime == null ? "" : Convert.ToDateTime(item.SignTime).ToString("yyyy-MM-dd"))</td>
                            <td>@(((ContractType)item.ContractType).GetText())</td>
                            <td class="state">@(((ApprovalState)item.State).GetText())</td>
                            @*<td id="tdProject">@item.ProjectName<input type="hidden" value="@item.ProjectId" /></td>*@
                            @if (@item.State == int.Parse(ApprovalState.Enabled.GetValue().ToString()))
                            {
                                <td>
                                    <a href="javascript:;" class="Detail checkright" data-module="Contract" data-right="Info">查看</a>
                                    <a href="javascript:;" class="preview checkright" data-module="Contract" data-right="Info">预览</a>
                                    @if (item.CreateUserId.ToString() == ViewBag.CurUserId.ToString())
                                    {
                                        <a href="javascript:;" class="Edit checkright" data-module="Contract" data-right="Modify">修改</a>
                                        <a href="javascript:;" class="Delete checkright" data-module="Contract" data-right="Delete">删除</a>
                                    }
                                </td>
                            }
                            else if (@item.State == int.Parse(ApprovalState.WaitAppr.GetValue().ToString()))
                            {
                                <td>
                                    <a href="javascript:;" class="Detail checkright" data-module="Contract" data-right="Info">查看</a>
                                    <a href="javascript:;" class="preview checkright" data-module="Contract" data-right="Info">预览</a>
                                </td>
                            }
                            else if (@item.State == int.Parse(ApprovalState.ApprSuccess.GetValue().ToString()))
                            {
                                <td>
                                    <a href="javascript:;" class="Detail checkright" data-module="Contract" data-right="Info">查看</a>
                                    <a href="javascript:;" class="preview checkright" data-module="Contract" data-right="Info">预览</a>
                                </td>
                            }
                            else if (@item.State == int.Parse(ApprovalState.ApprFailure.GetValue().ToString()))
                            {
                                <td>
                                    <a href="javascript:;" class="Detail checkright" data-module="Contract" data-right="Info">查看</a>
                                    <a href="javascript:;" class="preview checkright" data-module="Contract" data-right="Info">预览</a>
                                    @if (item.CreateUserId.ToString() == ViewBag.CurUserId.ToString())
                                    {
                                        <a href="javascript:;" class="Edit checkright" data-module="Contract" data-right="Modify">修改</a>
                                        <a href="javascript:;" class="Discard checkright" data-module="Contract" data-right="Invalid">废弃</a>
                                        <a href="javascript:;" class="preview checkright" data-module="Contract" data-right="Info">预览</a>

                                    }
                                </td>
                            }
                            else if (@item.State == int.Parse(ApprovalState.Discarded.GetValue().ToString()))
                            {
                                <td>
                                    <a href="javascript:;" class="Detail checkright" data-module="Contract" data-right="Info">查看</a>
                                    @if (item.CreateUserId.ToString() == ViewBag.CurUserId.ToString())
                                    {
                                        <a href="javascript:;" class="Delete checkright" data-module="Contract" data-right="Delete">删除</a>
                                        <a href="javascript:;" class="preview checkright" data-module="Contract" data-right="Info">预览</a>
                                    }
                                </td>
                            }
                           
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td colspan="12">暂无数据</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="page" style="text-align:right; margin-right:5px;">
    </div>
</div>
<script>
    layui.use(['layer', 'element', 'laypage'], function () {
        var layer = layui.layer, form = layui.form, element = layui.element, $ = layui.jquery, laypage = layui.laypage;
        //分页
        laypage.render({
            elem: 'page',
            count: '@ViewBag.Total',
            curr: '@ViewBag.pageIndex',
            layout: ['prev', 'page', 'next', 'skip', 'count'],
            jump: function (obj, first) {
                if (!first) {
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    var search = $("form").serialize();
                    window.location.href = "/Contract/Index?pageIndex=" + curr + "&" + search;
                }
            }
        });
    });
    //新增
    $("#add").on("click", function () {
        window.location.href = "/Contract/Add";
    });
    //删除
    $(".Delete").on("click", function () {
        var id = "";
        id = $(this).parents("tr").find($(".inputId")).data("id");
        if (id != "") {
            parent.layer.confirm("确认要删除所选择的项？", { icon: 3 }, function () {
                $.post("Delete", { id: id }, function (data) {
                    if (data.Flag) {
                        parent.layer.msg("删除成功", { time: 2000, icon: 1 });
                        location.reload();
                    } else {
                        parent.layer.alert(data.Message, { icon: 2 });
                    }
                }, "json");
            }, function () {
                return;
            })
        } else {
            parent.layer.alert("请先选择要删除的数据", { icon: 2 });
        }
    });
    //查看
    $(".Detail").on("click", function () {
        var id = $(this).parents("tr").find($(".inputId")).data("id");
        window.location.href = "/Contract/Detail?id=" + id;
    });
    //修改
    $(".Edit").on("click", function () {
        var id = $(this).parents("tr").find($(".inputId")).data("id");
        window.location.href = "/Contract/Edit?id=" + id;
    });
    //废弃
    $(".Discard").click(function () {
        var id = "";
        var state = "Discarded";
        id = $(this).parents("tr").find($(".inputId")).data("id");

        if (id != "") {
            parent.layer.confirm("确认要废弃所选择的项？", { icon: 3 }, function () {
                $.post("UpdateState", { id: id, state: state }, function (data) {
                    if (data.Flag) {
                        parent.layer.msg("废弃成功", { time: 2000, icon: 1 });
                        location.reload();
                    } else {
                        parent.layer.alert(data.Message, { icon: 2 });
                    }
                }, "json");
            }, function () {
                return;
            })
        }
    });

    $("body").on("click", ".datalist tr .preview", function () {
        var that = $(this);
        var id = $(this).parents("tr").find($(".inputId")).data("sid");
        layer.open({
            type: 2,
            title: GetLayerTitle("合同预览和下载"),
            shadeClose: false, //点击遮罩关闭层
            area: ['900px', '500px'],
            content: '/Contract/PreviewContract?id='+id,
            end: function () {
                location.reload();
            }
        });
    });
</script>