@using hc.epm.DataModel.Business;
@model Epm_Milepost
@{
    ViewBag.Title = "里程碑信息修改";
}
<style>
    .btn-group {
        margin-top: 0px !important;
        text-align: left !important;
    }
</style>
<div class="container" style="margin-top:30px;margin-bottom:20px">
    <div class="row">
        <form class="form-horizontal" id="mainForm">
            <div class="col-lg-12 col-sm-12 mb25">
                <div class="form-group ">
                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                    <label for="ParentName" class="col-sm-2 control-label"><em class="required">*</em>项目性质：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ParentName" name="ParentName" placeholder="请选择项目性质" value="@ViewBag.ParName">
                        <input type="hidden" name="ParentId" id="ParentId" value="@Model.ParentId" />
                    </div>
                </div>
                <div class="form-group ">
                    <label for="name" class="col-sm-2 control-label"><em class="required">*</em>名称：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="Name" id="Name" placeholder="请输入名称" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="limit" class="col-sm-2 control-label"><em class="required">*</em>工期：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="Limit" id="Limit" placeholder="请输入工期" value="@Model.Limit">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="population" class="col-sm-2 control-label">需要人数：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="Population" id="Population" placeholder="请输入需要人数" value="@Model.Population">
                    </div>
                </div>
                <div class="form-group col-lg-12 col-sm-12">
                    <label class="col-lg-2 col-sm-2 control-label" style="margin-left:-3px;"><em class="required">*</em>是否启用 : </label>
                    <div class="col-lg-3 col-sm-3">
                        <div class="btn-group bootstrap-select form-control show-tick">
                            <select class="form-control selectpicker  show-tick" id="State" name="State" tabindex="-98">
                                @if (@Model.State == 1)
                                {
                                    <option value="true" selected>启用</option>
                                    <option value="false">禁用</option>
                                }
                                else {
                                    <option value="true">启用</option>
                                    <option value="false" selected>禁用</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="sort" class="col-sm-2 control-label"><em class="required">*</em>阶段排序：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Sort" name="Sort" placeholder="请输入阶段排序" value="@Model.Sort">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="DataConfigName" class="col-sm-2 control-label">项目资料：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="DataConfigName" name="DataConfigName" value="@ViewBag.DataName" placeholder="请选择">
                        <input type="hidden" class="form-control" id="DataConfigId" name="DataConfigId" value="@ViewBag.DataConfigId" placeholder="请选择项目资料">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 mb25" style="margin-top:57px">
                <div class="col-lg-6 col-sm-6" style="text-align:right">
                    <input type="button" name="submit" id="save" lay-submit lay-filter="sub" value="提&nbsp;&nbsp;&nbsp;交" class="layui-btn layui-btn-small button-base bg-save" />
                </div>
                <div class="col-lg-6 col-sm-6">
                    <input type="button" name="cacel" value="取&nbsp;&nbsp;&nbsp;消" class="layui-btn layui-btn-small button-base bg-cancel cancel" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'element'], function () {
        var layer = layui.layer, form = layui.form, element = layui.element;

        //修改所属父级
        $("#ParentName").click(function () {
            layer.open({
                type: 2,
                title: GetLayerTitle("项目性质"),
                shadeClose: false, //点击遮罩关闭层
                area: ['500px', '500px'],
                content: '/HcMilestone/SelectParent'
            });
        });
        //修改项目资料
        $("#DataConfigName").click(function () {
            layer.open({
                type: 2,
                title: GetLayerTitle("项目资料"),
                shadeClose: false, //点击遮罩关闭层
                area: ['700px', '510px'],
                content: ['/HcMilestone/SelectProject', 'no']
            });
        });
        //自定义验证规则
        window.onload = function () {
            $('#mainForm').bootstrapValidator({
                excluded: [':hidden'],//[':disabled', ':hidden', ':not(:visible)'] //设置隐藏组件可验证
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    ParentId: {
                        validators: {
                            notEmpty: {
                                message: '项目性质不能为空'
                            },
                        }
                    },
                    Name: {
                        validators: {
                            notEmpty: {
                                message: '名称不能为空'
                            }, stringLength: {
                                max: 100,
                                message: '名称不能超过100字符'
                            }, regexp: {
                                regexp: /^[a-zA-Z0-9\u4e00-\u9fa5-]+$/i,
                                message: "部门名称由汉字字母数字及-组成"
                            }
                        }
                    },
                    Sort: {
                        validators: {
                            notEmpty: {
                                message: '阶段排序不能为空'
                            },
                            stringLength: {
                                max: 10,
                                message: '阶段排序不能超过10字符'
                            }, regexp: {
                                regexp: /^[0-9]+$/i,
                                message: "阶段排序由数字组成"
                            }
                        }
                    },
                    Limit: {
                        validators: {
                            notEmpty: {
                                message: '工期不能为空'
                            }, regexp: {
                                regexp: /^[0-9]+$/i,
                                message: "工期由数字组成"
                            }
                        }
                    },
                }
            });
        }
        //监听提交
        form.on('submit(sub)', function (data) {
            //对表单进行验证
            var bv = $('#mainForm').data('bootstrapValidator');
            bv.validate();
            if (bv.isValid()) {
                var search = $("form").serialize();//表单序列化
                $.post("Edit", search, function (data) {
                    if (data.Flag) {
                        $("#save").attr("disabled", "disabled");//禁止连续提交表单
                        $("#save").val("请等待");
                        var alertIndex = parent.layer.msg("修改成功", { time: 1000, icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            parent.layer.close(index);//关闭窗口
                            parent.layer.close(alertIndex);
                        });
                    } else {
                        parent.layer.alert(data.Message, { icon: 2 });
                    }
                });
                return false;
            }
        });
        //关闭弹出iframe层
        $('.cancel').on("click", function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭窗口
        });
    });
</script>