<!--会议决策-->
@using hc.epm.Common;
@using hc.Plat.Common.Extend;
@using hc.epm.DataModel.Business;
@model Epm_MeetingFileReport
@{
    ViewBag.Title = "会议决策";
}

<div class="boxs">
    @*油气销售信息*@
    <div class="module-div">
        <h4>油气销售信息</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title">估计油日销量：</td>
                    <td class="td-div">
                        <div>@Model.OilSalesTotal.ToString("0.00") 吨</div>
                    </td>
                    <td class="table_title">估计气日销量（CNG）：</td>
                    <td class="td-div">
                        <div>@Model.CNG.ToString("0.00") 千方</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">估计气日销量（LNG）：</td>
                    <td class="td-div">
                        <div>@Model.LNG.ToString("0.00") 千方</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*附件信息*@
    <div class="module-div">
        <h4>附件信息</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <th>序号</th>
                    <th>附件名称</th>
                    <th>附件类型</th>
                    <th>操作</th>
                </tr>
             @if (Model.TzAttachs != null && Model.TzAttachs.Count() > 0)
             {
                 foreach (var item in Model.TzAttachs)
                 {

                    <tr id="${obj.GuidId}">
                        <td><span class="font-black">@item.Sort</span></td>
                        <td class="text_lf td-div"><span class="font-black">@item.Name</span></td>
                        <td><span class="font-black">@item.TypeName</span></td>
                        <td class="td-div" style="text-align:center">
                            <a class="fileDel downloadFile" href="javascript:void(0)" data-id="@item.Id" data-url="@item.FilePath" data-name="@item.Name" data-typeno="@item.TypeNo" data-typename="@item.TypeName" style="color:#337ab7;">下载</a>
                        </td>
                    </tr>
                 }
             }
             else
             {
                <tr>
                    <td colspan="4">暂无附件</td>
                </tr>
             }
            </tbody>
        </table>
    </div>
</div>