<!--现场踏勘-->
@using hc.Plat.Common.Extend;
@using hc.epm.ViewModel;
@model  TzResearchAllView
@{
    ViewBag.Title = "现场踏勘详情";
}

<div class="boxs">
    @*项目起始时间*@
    <div class="module-div">
        <h4>项目起始时间</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title" style="width:197px;">起始时间：</td>
                    <td class="td-div" colspan="3">
                        <div>@(Convert.ToDateTime(Model.TzResearchOfEngineering.ResearchStartDate).ToString("yyyy-MM-dd"))</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*投资方面调研*@
    <div class="module-div">
        <h4>投资方面调研</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title">调研人：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.ResearchUserName</div>
                    </td>
                    <td class="table_title">职务：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.JobName</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">周边环境：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.EnvironmentTypeName</div>
                    </td>
                    <td class="table_title">土地性质：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.LandNatureName</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">土地用途：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.LandUseName</div>
                    </td>
                    <td class="table_title">土地面积：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.LandArea.ToString("0.00") 平米</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">土地形状（临街长度）：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.LandShape.ToString("0.00") 米</div>
                    </td>
                    <td class="table_title">是否符合地区建站规划：</td>
                    <td class="td-div">
                        @if (Model.TzResearchOfInvestment.IsMeetAreaPlan == "SFFH1")
                        {
                            <div>是</div>
                        }
                        else
                        {
                            <div>否 </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="table_title">周边车辆保有量：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.AroundCarCount 辆</div>
                    </td>
                    <td class="table_title">平均日车流量：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.DailyTraffic 辆/日</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">成品油销量测算：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.OilSaleTotal.ToString("0.00") 吨/日</div>
                    </td>
                    <td class="table_title">柴汽比：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.DieselGasolineRatio</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">土地价格：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.LandPrice.ToString("0.00") 万元/亩</div>
                    </td>
                    <td class="table_title">气销量测算：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInvestment.GasSaleTotal.ToString("0.00") 千方/日</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*法律方面调研*@
    <div class="module-div">
        <h4>法律方面调研</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title">调研人：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfLaw.ResearchUserName</div>
                    </td>
                    <td class="table_title">职务：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfLaw.JobName</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">产权清晰：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfLaw.PropertyRights != null)
                            {
                                if (Model.TzResearchOfLaw.PropertyRights == "CQQX1")
                                {
                                    <span>是</span>
                                }
                                else if (Model.TzResearchOfLaw.PropertyRights == "CQQX2")
                                {
                                   <span>否</span>
                                }
                            }
                        </div>
                    </td>
                    <td class="table_title">资产主体资格：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfLaw.AssetSubject != null)
                            {
                                if (Model.TzResearchOfLaw.AssetSubject == "ZCZT1")
                                {
                                    <span>符合</span>
                                }
                                else if (Model.TzResearchOfLaw.AssetSubject == "ZCZT2")
                                {
                                    <span>不符合</span>

                                }
                            }
                        
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">纠纷判断：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfLaw.DisputesJudgment != null)
                            {
                                if (Model.TzResearchOfLaw.DisputesJudgment == "JFPD2")
                                {
                                    <span>无</span>
                                }
                                else if (Model.TzResearchOfLaw.DisputesJudgment == "JFPD1")
                                {
                                    <span>有</span>
                                }
                            }
                        
                        </div>
                    </td>
                    <td class="table_title">证照类型：</td>
                    <td class="td-div">
                        <div>
                            <span class="License"></span>
                       <input type="hidden" id="License" value="@Model.TzResearchOfLaw.License" />
                       
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*工程方面调研*@
    <div class="module-div">
        <h4>工程方面调研</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title">调研人：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.ReaearchUserName</div>
                    </td>
                    <td class="table_title">职务：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.JobName</div>
                    </td>
                </tr>
                @*<tr>
                    <td class="table_title">当前成品油日销量：</td>
                    <td class="td-div">
                        <div>-- 日吨</div>
                    </td>
                    <td class="table_title">土地性质：</td>
                    <td class="td-div">
                        <div>--</div>
                    </td>
                </tr>*@
                <tr>
                    <td class="table_title">罩棚：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.Shelter.ToString("0.00") 米</div>
                    </td>
                    <td class="table_title">油罐：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.OilTank.ToString("0.00") 方</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">加气机：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.MachineOfGasStage 台 @Model.TzResearchOfEngineering.MachineOfGas 枪</div>
                    </td>
                    <td class="table_title">加油机：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.MachineOfOilStage 台 @Model.TzResearchOfEngineering.MachineOfOilStage 枪</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">站房：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.StationRoon.ToString("0.00") 平</div>
                    </td>
                    <td class="table_title">储气井：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.GasWells.ToString("0.00") 米</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">信息化系统：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfEngineering.HasInformationSystem != null)
                            {


                                if (Model.TzResearchOfEngineering.HasInformationSystem == "XXXT1")
                                {
                                    <span>有</span>
                                }
                                else
                                {
                                    <span>无</span>
                                }
                            }
                        </div>
                    </td>
                    <td class="table_title">改造必要性：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfEngineering.ReformName</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*经营方面调研*@
    <div class="module-div">
        <h4>经营方面调研</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title">调研人：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfManagement.ReaearchUserName</div>
                    </td>
                    <td class="table_title">职务：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfManagement.JobName</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">当前成品油日销量：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfManagement.CurrentSalesVolume.ToString("0.00") 吨/日</div>
                    </td>
                    <td class="table_title">油运品距：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfManagement.CargoDistance.ToString("0.00") 公里</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">当前气日销量：</td>
                    <td class="td-div" colspan="3">
                        <div>@Model.TzResearchOfManagement.GasDailySales.ToString("0.00") 千方/日</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">特殊销售手段：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfManagement.SalesMeans != null)
                            {
                                if (Model.TzResearchOfManagement.SalesMeans == "TSSD1")
                                {
                                    <span>有</span>
                                }
                                else
                                {
                                    <span>无</span>
                                }
                            }
                        
                        </div>
                    </td>
                    <td class="table_title">销量可实现性：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfManagement.SalesRealizability != null)
                            {
                                if (Model.TzResearchOfManagement.SalesRealizability == "XIAOLKSX1")
                                {
                                    <span>是</span>
                                }
                                else
                                {
                                    <span>否 </span >
                                }
                            }

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">油品来源：</td>
                    <td class="td-div" colspan="3" style="height:100px;">
                        <div>@Model.TzResearchOfManagement.SourceOfOil</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*安全方面调研*@
    <div class="module-div">
        <h4>安全方面调研</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title">调研人：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfSecurity.ReaearchUserName</div>
                    </td>
                    <td class="table_title">职务：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfSecurity.JobName</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">环保问题：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfSecurity.Environmental != null)
                            {
                                if (Model.TzResearchOfSecurity.Environmental == "HBWT1")
                                {
                                   <span>有</span>
                                }
                                else
                                {
                                    <span>无</span>
                                }
                            }
                        
                        </div>
                    </td>
                    <td class="table_title">隐患问题：</td>
                    <td class="td-div">
                        <div>
                            @if (Model.TzResearchOfSecurity.hiddenDanger != null)
                            {
                                if (Model.TzResearchOfSecurity.hiddenDanger == "YHWT1")
                                {
                                   <span>有</span>
                                }
                                else
                                {
                                    <span>无</span>
                                }

                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">改进措施：</td>
                    <td class="td-div" colspan="3" style="height:100px;">
                        <div>@Model.TzResearchOfSecurity.ImprovementMeasures</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*信息方面调研*@
    <div class="module-div">
        <h4>信息方面调研</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <td class="table_title">调研人：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInformation.ReaearchUserName</div>
                    </td>
                    <td class="table_title">职务：</td>
                    <td class="td-div">
                        <div>@Model.TzResearchOfInformation.JobName</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_title">改进措施：</td>
                    <td class="td-div" colspan="3" style="height:100px;">
                        <div>@Model.TzResearchOfInformation.Improvement</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*附件信息*@
    <div class="module-div">
        <h4>附件信息</h4>
        <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
            <tbody>
                <tr>
                    <th>序号</th>
                    <th>附件名称</th>
                    <th>附件类型</th>
                    <th>操作</th>
                </tr>
                @if (Model.TzResearchOfInformation.TzAttachs != null && Model.TzResearchOfInformation.TzAttachs.Count() > 0)
                {
                    foreach (var item in Model.TzResearchOfInformation.TzAttachs)
                    {

                        <tr id="${obj.GuidId}">
                            <td><span class="font-black">@item.Sort</span></td>
                            <td class="text_lf td-div"><span class="font-black">@item.Name</span></td>
                            <td><span class="font-black">@item.TypeName</span></td>
                            <td class="td-div" style="text-align:center">
                                <a class="fileDel downloadFile" href="javascript:void(0)" data-id="@item.Id" data-url="@item.FilePath" data-name="@item.Name" data-typeno="@item.TypeNo" data-typename="@item.TypeName" style="color:#337ab7;">下载</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">暂无附件</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    //证照类型
    var LicenseName="";
    var License = $("#License").val().split(",");
    for (var i = 0; i < License.length; i++) {

        if (License.indexOf(License[i]) != -1) {
            if (License[i] == "ZZLX1") {
                LicenseName = LicenseName + "工程规划" + '、';
            }
            else if (License[i] == "ZZLX2") {
                LicenseName = LicenseName + "用地规划" + '、';
            }
            else if (License[i] == "ZZLX3") {
                LicenseName = LicenseName + "土地证" + '、';
            }
            else if (License[i] == "ZZLX4") {
                LicenseName = LicenseName + "划危证" + '、';
            }
            else if (License[i] == "ZZLX5") {
                LicenseName = LicenseName + "消防验收" + '、';
            }
            else if (License[i] == "ZZLX6") {
                LicenseName = LicenseName + "营业执照" + '、';
            }
            else if (License[i] == "ZZLX7") {
                LicenseName = LicenseName + "成品油证" + '、';
            }
            else if (License[i] == "ZZLX8") {
                LicenseName = LicenseName + "房产证" + '、';
            }
        }
    }
    var str = LicenseName.substring(0, LicenseName.length - 1);
    $(".License").text(str);

</script>