@using hc.epm.Common;
@using hc.Plat.Common.Extend;
@using hc.epm.ViewModel;
@model TzFormTalkFileView

@{
    ViewBag.Title = "评审材料上报";
}

<link href="~/Resource/css/ProjectManagement.css" rel="stylesheet" />

<div class="contentData">
    <form class="form-horizontal" id="mainForm">

        <div class="module-div">
            <h4>项目基本信息</h4>
            <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
                <tbody>
                    <tr>
                        <td class="table_title">项目名称：</td>
                        <td class="td-div">
                            <div>@Model.TzProjectProposal.ProjectName</div>
                            <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.TzProjectProposal.Id" />
                        </td>
                        <td class="table_title">项目性质：</td>
                        <td class="td-div">
                            <div>@Model.TzProjectProposal.NatureName</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_title">站库名称：</td>
                        <td class="td-div">
                            <div>@Model.TzProjectProposal.StationName</div>
                        </td>
                        <td class="table_title">提出时间：</td>
                        <td class="td-div">
                            <div>@(Convert.ToDateTime(Model.TzProjectProposal.ApplyTime).ToString("yyyy-MM-dd"))</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_title">地理位置：</td>
                        <td class="td-div">
                            <div>@Model.TzProjectProposal.Position</div>
                        </td>
                        <td class="table_title">估计金额：</td>
                        <td class="td-div">
                            <div>@Model.TzProjectProposal.PredictMoney.ToString("0.00") 万元</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_title">所属地市公司：</td>
                        <td colspan="3" align="left">
                            <div>@Model.TzProjectProposal.CompanyName</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="module-div">
            <h4>负责人</h4>
            <table class="datalist" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
                <tbody>
                    <tr>
                        <td class="table_title">地市项目负责人：</td>
                        <td class="td-div" colspan="2">
                            <div class="form-group">
                                <input class="form-control" type="text" id="ProjectLeaderName" name="ProjectLeaderName" placeholder="请选择地市项目负责人" value="@Model.TzFormTalkFile.ProjectLeaderName" style="display:inline-block;width:68%" readonly />
                                <input type="button" id="ProjectLeader" class="btn form-control" style="position: relative; z-index: 1;width: 26%;font-size: 16px; background-color:#6a6969!important;color:white;" value="选择人员" />
                                <input class="form-control" type="hidden" id="ProjectLeaderId" name="ProjectLeaderId" value="@Model.TzFormTalkFile.ProjectLeaderId" />
                            </div>
                        </td>
                        <td class="td-div">
                            <div class="color_red text_lf">需要选择项目主要负责人</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_title">地市项目决策人：</td>
                        <td class="td-div" colspan="2">
                            <div class="form-group">
                                <input class="form-control" type="text" id="ProjectDecisionerName" name="ProjectDecisionerName" placeholder="请选择地市项目决策人" value="@Model.TzFormTalkFile.ProjectDecisionerName" style="display:inline-block;width:68%" readonly />
                                <input type="button" id="ProjectDecisioner" class="btn form-control" style="position: relative; z-index: 1;width: 26%;font-size: 16px; background-color:#6a6969!important;color:white;" value="选择人员" />
                                <input class="form-control" type="hidden" id="ProjectDecisionerId" name="ProjectDecisionerId" value="@Model.TzFormTalkFile.ProjectDecisionerId" />
                            </div>
                        </td>
                        <td class="td-div">
                            <div class="color_red text_lf">需要选择项目主要决策人</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_title">编写负责人：</td>
                        <td class="td-div" colspan="2">
                            <div class="form-group">
                                <input class="form-control" type="text" id="WriterName" name="WriterName" placeholder="请选择编写负责人" value="@Model.TzFormTalkFile.WriterName" style="display:inline-block;width:68%" readonly />
                                <input type="button" id="Writer" class="btn form-control" style="position: relative; z-index: 1;width: 26%;font-size: 16px; background-color:#6a6969!important;color:white;" value="选择人员" />
                                <input class="form-control" type="hidden" id="WriterId" name="WriterId" value="@Model.TzFormTalkFile.WriterId" />
                            </div>
                        </td>
                        <td class="td-div">
                            <div class="color_red text_lf">需要选择项目主要编写人</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="module-div">
            <h4>附件上传</h4>
            <table class="datalist fileShow" style="word-break:break-all;word-wrap:break-word;margin-top:10px;">
                <tbody class="fileShow-append">
                    <tr class="headtr">
                        <td style="width:300px;">附件类型</td>
                        <td class="td-div" style="width: 570px!important;">
                            @Html.Raw(Html.DropDownList("FileType", ViewBag.AnnexType as SelectList, null, new { @class = "form-control sel" }))
                            <input id="FileType" type="hidden" name="FileType" value="" />
                        </td>
                        <td class="table_title text_lf" colspan="3">
                            <div class="btn-upload" style="display:inline-block">
                                <input type="button" id="btnUploadFile1" class="btnUploadFile btn  form-control" style="position: relative; z-index: 1;width: 100px;font-size: 16px;" value="选择附件" />
                                <input type="file" id="loadFile1" name="loadFile1" style="display:none!important" onchange="uploadFile1()">
                                <span style="vertical-align:bottom; margin-left:15px; color:#B7B7B7;"></span>
                            </div>
                            <div class="color_red" style="display:inline-block;margin-left:20px;">附件类型仅支持：doc,pdf,excel,ppt,png等</div>
                        </td>
                    </tr>
                    <tr class="headtr">
                        <th class="table_title" style="width: 219px;">序号</th>
                        <th class="td-div" style="width: 570px!important;">附件名称</th>
                        <th class="td-div">附件类型</th>
                        <th class="td-div">附件归属</th>
                        <th class="table_title" style="width: 219px;">操作</th>
                    </tr>
                    @if (Model.TzFormTalkFile.TzAttachs != null && Model.TzFormTalkFile.TzAttachs.Count() > 0)
                    {
                        foreach (var item in Model.TzFormTalkFile.TzAttachs)
                        {
                    <tr>
                        <td><span class='sort'>@item.Sort</span></td>
                        <td class="text_lf"><span>@item.Name</span></td>
                        <td><span>@item.TypeName</span></td>
                        <td>
                            @if (item.Uploadtype == 1)
                                    {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Uploadtype1" value="" checked />上传到投资系统
                                    </label>
                                    }
                                    else if (item.Uploadtype == 2)
                                    {
                                        if (item.FilesSize < ConstString.TzMaxFileSize())
                                        {

                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Uploadtype1" value="" />上传到投资系统
                                    </label>

                                        }
                                        else {

                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Uploadtype1" value="" disabled />上传到投资系统
                                    </label>
                                        }
                                    }
                        </td>
                        <td style="text-align:center">
                            <a class="fileDel" href="javascript:void(0)" style="color:#337ab7;">删除</a>
                            <input type="hidden" id="updata" data-id="@item.Id" data-url="@item.FilePath" data-src="@item.FilePath" data-name="@item.Name" data-size="@item.Size" data-time="@(Convert.ToDateTime(item.CreateTime).ToString("yyyy-MM-dd"))" data-typeno="@item.TypeNo" data-typename="@item.TypeName">
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="layui-form-item  btn-save" style="margin-top:60px;text-align:center;">
            <input type="button" lay-submit lay-filter="sub" value="暂&nbsp;&nbsp;&nbsp;存" class="layui-btn layui-btn-big save" data-state="@(PreProjectState.WaitSubmitted.GetValue().ToString())" />
            <input type="button" lay-submit lay-filter="sub" value="提交审核" class="layui-btn layui-btn-big save" data-state="@(PreProjectState.WaitApproval.GetValue().ToString())" />
            <input type="button" id="close" value="返&nbsp;&nbsp;&nbsp;回" class="layui-btn layui-btn-big " />
            <input type="hidden" name="fileDataJsonFile" id="fileDataJsonFile">
            <input type="hidden" name="State" id="State" />
        </div>
    </form>
</div>

<script>
    //返回
    $("#close").click(function () {
        window.location.href = "/TzFormTalkFile/Index";
    });

    //附件上传
    $('#btnUploadFile1').click(function () {
        //获取附件类型的val
        var fileTypeVal = $("#FileType").val();
        if (fileTypeVal != "") {
            document.getElementById("loadFile1").click();
        }
        else {
            layer.alert("请选择附件类型", { icon: 2 });
        }
    });

    //用于标记附件是否上传完成 isFlagFile
    var isFlagFile = true;
    function uploadFile1() {
        isFlagFile = false;
        var fileObj = document.getElementById("loadFile1").files[0]; // js 获取文件对象
        var formFile = new FormData();
        formFile.append("file", fileObj);
        var path = formFile;
        $.ajax({
            url: "/Upload/UploadHB",
            type: "POST",
            data: path,
            contentType: false,
            processData: false,
            success: function (data) {
                var index = $(".fileShow-append tr").length - 1;
                for (var i = 0; i < data.length; i++) {
                    var obj = {};
                    obj.Name = data[i].Name;
                    obj.GuidId = data[i].GuidId;
                    obj.Size = data[i].Size;
                    obj.ImageType = data[i].ImageType;
                    obj.Group = data[i].ResponseObject.FDFS_GROUP;
                    obj.Url = data[i].ResponseObject.FDFS_NAME;
                    obj.TypeNo = $("#FileType").val();
                    obj.TypeName = $("#FileType").find("option:checked").text()
                    if (data[i].ImageType == null) {
                        var imgUrl = getFileImg(obj.Name);

                        //附件归属
                        var html1 = `<label class ="checkbox-inline">
                                         <input type="checkbox" name="Uploadtype1" value="" disabled />上传到投资系统
                                     </label>
                                    `
                        var html2 = `<label class ="checkbox-inline">
                                         <input type="checkbox" name="Uploadtype1" value="" checked />上传到投资系统
                                     </label>
                                   `
                        var html = (fileObj.size > tzmaxfilesize) ? html1 : html2;

                        //附件列表
                        var odiv = `
                                    <tr id="${obj.GuidId}">
                                        <td><span  class ='sort'> `+ index + ` </span></td>
                                        <td class ="text_lf"><span >${obj.Name}</span></td>
                                        <td><span>${obj.TypeName}</span></td>
                                        <td>${html}</td>
                                        <td style="text-align:center">
                                            <a class ="fileDel" href="javascript:void(0)" style="color:#337ab7;">删除</a>
                                            <input type="hidden" id="updata" data-id="${obj.GuidId}" data-url="${obj.Url}" data-src="${imgUrl}" data-name="${obj.Name}" data-size="${obj.Size}" data-upname="${data[i].UploadName}" data-time="${new Date(formatDateByJson(data[i].UploadDate)).Format("yyyy-MM-dd")}" data-group="${obj.Group}" data-typeno="${obj.TypeNo}" data-typename="${obj.TypeName}">
                                        </td>
                                    </tr>
                           `
                        index++;
                        $('.fileShow-append').append(odiv);
                    }
                }
                return isFlagFile = true;
            }
        });
    }

    $(".fileShow .fileDel").on("click", function () {
        $(this).parent().parent().remove();
        document.getElementById('loadFile1').value = null;
        $(".fileShow-append tr:not(.headtr)").each(function (index) {
            $(this).find(".sort").text(index + 1);//重新赋值附件排序
        });
    });
    //删除附件
    $("body").on('click', '.fileDel', function () {
        $(this).parents("tr").remove();
        document.getElementById('loadFile1').value = null;
        $(".fileShow-append tr:not(.headtr)").each(function (index) {
            $(this).find(".sort").text(index + 1);//重新赋值附件排序
        });
    });

    layui.use(['layer', 'form', 'element', 'laypage'], function () {
        var layer = layui.layer, form = layui.form, element = layui.element, $ = layui.jquery, laypage = layui.laypage;

        //地市项目负责人
        $("#ProjectLeader").click(function () {
            var unitid = $("#CityPro").data("unitid");
            layer.open({
                type: 2,
                title: GetLayerTitle("选择地市项目负责人"),
                shadeClose: false, //点击遮罩关闭层
                area: ['1000px', '680px'],
                skin: 'frame_button',
                btnAlign: 'c',
                content: '/Comm/SelectUser?selectType=1',
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    var obj = frames['layui-layer-iframe' + index].getSelectData();
                    if (obj.flag === false) {
                        layer.alert(obj.msg, { icon: 2 });
                    } else {
                        $("#ProjectLeaderName").val(obj.data[0].Name);
                        $("#ProjectLeaderId").val(obj.data[0].Id);
                        //验证
                        //$('#mainForm').data('bootstrapValidator').updateStatus("ProjectLeaderName", 'NOT_VALIDATED', null).validateField("ProjectLeaderName");
                    }
                    layer.close(index);
                },
                btn2: function (index, layero) {
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);//关闭窗口
                },
                cancel: function (index, layero) {
                },
            });
        });

        //地市项目决策人
        $("#ProjectDecisioner").click(function () {
            var unitid = $("#CityPro").data("unitid");
            layer.open({
                type: 2,
                title: GetLayerTitle("选择地市项目决策人"),
                shadeClose: false, //点击遮罩关闭层
                area: ['1000px', '680px'],
                skin: 'frame_button',
                btnAlign: 'c',
                content: '/Comm/SelectUser?selectType=1',
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    var obj = frames['layui-layer-iframe' + index].getSelectData();
                    if (obj.flag === false) {
                        layer.alert(obj.msg, { icon: 2 });
                    } else {
                        $("#ProjectDecisionerName").val(obj.data[0].Name);
                        $("#ProjectDecisionerId").val(obj.data[0].Id);
                        //验证
                        //$('#mainForm').data('bootstrapValidator').updateStatus("ProjectDecisionerName", 'NOT_VALIDATED', null).validateField("ProjectDecisionerName");
                    }
                    layer.close(index);
                },
                btn2: function (index, layero) {
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);//关闭窗口
                },
                cancel: function (index, layero) {
                },
            });
        });

        //编写负责人
        $("#Writer").click(function () {
            var unitid = $("#CityPro").data("unitid");
            layer.open({
                type: 2,
                title: GetLayerTitle("选择编写负责人"),
                shadeClose: false, //点击遮罩关闭层
                area: ['1000px', '680px'],
                skin: 'frame_button',
                btnAlign: 'c',
                content: '/Comm/SelectUser?selectType=1',
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    var obj = frames['layui-layer-iframe' + index].getSelectData();
                    if (obj.flag === false) {
                        layer.alert(obj.msg, { icon: 2 });
                    } else {
                        $("#WriterName").val(obj.data[0].Name);
                        $("#WriterId").val(obj.data[0].Id);
                        //验证
                        //$('#mainForm').data('bootstrapValidator').updateStatus("WriterName", 'NOT_VALIDATED', null).validateField("WriterName");
                    }
                    layer.close(index);
                },
                btn2: function (index, layero) {
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);//关闭窗口
                },
                cancel: function (index, layero) {
                },
            });
        });

        //数据提交
        $(".save").click(function () {
            //附件是否上传完成 isFlagFile
            if (isFlagFile) {
                $(".save").addClass("layui-btn-disabled");
                $(".save").attr("disabled", "disabled");

                var fileDataArray = [];
                $(".fileShow-append tr:not(.headtr)").each(function (index, item) {
                    var uploadtype = 0;
                    var uploadtype1 = $(this).find("input[name='Uploadtype1']").is(':checked');

                    if (uploadtype1 == true) {
                        uploadtype = 1;
                    }
                    if (uploadtype1 == false) {
                        uploadtype = 2;
                    }
                    fileDataArray.push({
                        Name: $(item).find("#updata").data("name"),
                        GuidId: $(item).find("#updata").data("id"),
                        Size: $(item).find("#updata").data("size"),
                        Group: $(item).find("#updata").data("group"),
                        FilePath: $(item).find("#updata").data("url"),
                        TypeNo: $(item).find("#updata").data("typeno"),
                        TypeName: $(item).find("#updata").data("typename"),
                        Sort: index + 1,
                        Uploadtype: uploadtype
                    })
                });

                var fileDataJson = JSON.stringify(fileDataArray);
                $("#fileDataJsonFile").val(fileDataJson);

                $("#State").val($(this).data("state"))//提交或保存的状态值
                var search = $("form").serialize();

                //点击提交表单验证，点击暂存表单不验证
                if ($(this).data("state") == "@(PreProjectState.Submitted.GetValue().ToString())") {
                    //对表单进行验证
                    var bv = $('#mainForm').data('bootstrapValidator');
                    bv.validate();
                    if (!bv.isValid()) {
                        $(".save").removeClass("layui-btn-disabled");
                        $(".save").removeAttr("disabled");
                        return;
                    }
                }

                $.post("Add", search, function (data) {
                    if (data.Flag) {
                        layer.msg("操作成功", { time: 1000, icon: 1 }, function () {
                            $(".save").removeClass("layui-btn-disabled");
                            $(".save").removeAttr("disabled");
                            window.location.href = "/TzFormTalkFile/Index";
                        });
                    } else {
                        layer.alert(data.Message, { icon: 2 });
                        $(".save").removeClass("layui-btn-disabled");
                        $(".save").removeAttr("disabled");
                    }
                });
            }
            else {
                layer.msg("附件上传中，请稍后提交。", { time: 3000, icon: 2 });
            }
        });
    });


    //$('#mainForm').bootstrapValidator({
    //    excluded: [':hidden'],//[':disabled', ':hidden', ':not(:visible)'] //设置隐藏组件可验证
    //    fields: {
    //        ProjectLeaderName: {
    //            validators: {
    //                notEmpty: {
    //                    message: '地市项目负责人不能为空'
    //                }
    //            }
    //        },
    //        ProjectDecisionerName: {
    //            validators: {
    //                notEmpty: {
    //                    message: '地市项目决策人不能为空'
    //                }
    //            }
    //        },
    //        WriterName: {
    //            validators: {
    //                notEmpty: {
    //                    message: '编写负责人不能为空'
    //                }
    //            }
    //        },
    //    }
    //});
</script>