@using System.Collections.Generic;
@using hc.epm.DataModel.Business;
@using hc.epm.Common;
@using hc.Plat.Common.Extend;
@model List<Epm_ProjectWorkMainPoints>
@{
    ViewBag.Title = "ProjectMainPoint";
}
<style type="text/css">
    .datalist td {
        color: #666666 !important;
    }

    #maincontent tr td:nth-child(1) {
        text-align: left;
        padding-left: 20px;
    }

    .wminput {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 19px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #C7C7C7;
        border-radius: 1px;
        width: 300px;
    }

    .wmselect {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 30px 0 15px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #C7C7C7;
        border-radius: 1px;
        width: 300px;
        background: #ebebe5;
    }
</style>
<div class="contentData">
    <ul class="tab-list">
        <li id="Detail">基本信息</li>
        <li id="DetailApprovalConstitute">总批复构成</li>
        <li id="DetailProjectISP">工程服务商</li>
        <li id="DetailProjectMainPoint" class="active">工程要点</li>
        <li id="DetailTimeManage">工期管理</li>
        <li id="DetailMilestonePlan">工程节点</li>
        <li id="ScheduleInfo">进度跟踪</li>
        <li id="VisaInfo">签证信息</li>
        <li id="QuestionInfo">问题信息</li>
        <li id="ChangeInfo">变更信息</li>
        <li id="ContractInfo">合同信息</li>
        <li id="DetailCrossingsManage">外部手续</li>
        <li id="video">视频集成</li>
    </ul>
    <div class="tab">
        <div id="maincontent">
            @if (Model.Any())
            {
                var DicValues = Model.GroupBy(p => new { p.DicKey, p.DicValue }).OrderBy(p => p.Key.DicKey).Select(p => p.Key.DicValue).ToList();
                foreach (var val in DicValues)
                {
                    <table class="datalist" style="margin-bottom:10px;">
                        <tbody>
                            <tr class="accept_type" data-type="monitor">
                                <td title="点击可折叠/展开" style="background-color:#D9D8D8;">@(val)工程内容</td>
                            </tr>
                            @{
                                var list = Model.Where(p => p.DicValue == val).OrderBy(p => p.Sort).ToList();
                                foreach (var item in list)
                                {
                                    <tr name="monitor" style="padding-bottom:30px;display:none;">
                                        <td class="accept_detail">
                                            <div style="width:150px;height:35px;line-height:35px;float:left;text-align:right;padding-right:10px;">@item.WorkMain :</div>
                                            @if (!string.IsNullOrWhiteSpace(item.WorkMainValues))
                                            {
                                                var arrs = item.WorkMainValues.Split(';');
                                                <select name="Val" id="Val" class="wmselect" disabled>
                                                    <option value="">请选择</option>
                                                    @foreach (var arr in arrs)
                                                    {
                                                        var a = arr.Split(',');
                                                        if (a[0].ToString() == item.Val)
                                                        {
                                                            <option value="@a[0].ToString()" selected>@a[1].ToString()</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@a[0].ToString()">@a[1].ToString()</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input type="text" value="@item.Val" id="Val" name="Val" class="wminput" maxlength="50" disabled />
                                            }
                                            <span style="width:50px;">@(item.Unit)</span>
                                            <input type="hidden" value="@item.SId" id="id" name="id" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>
<script src="~/Resource/plugins/layui-2.1.2/lay/modules/layer.js"></script>
<script>
    $(function () {
        $("#Detail").click(function () {
            window.location.href = 'Detail?projectId=@ViewBag.ProjectId';
        });
        $("#DetailApprovalConstitute").click(function () {
            window.location.href = 'DetailApprovalConstitute?projectId=@ViewBag.ProjectId';
        });
        $("#DetailTimeManage").click(function () {
            window.location.href = 'CKTimeLimitDetail?projectId=@ViewBag.ProjectId';
        });
        $("#DetailMilestonePlan").click(function () {
            window.location.href = 'DetailMilestonePlan?projectId=@ViewBag.ProjectId';
        });
        $("#DetailProjectISP").click(function () {
            window.location.href = 'DetailProjectISP?projectId=@ViewBag.ProjectId';
        });
        $("#DetailProjectData").click(function () {
            window.location.href = 'DetailProjectData?projectId=@ViewBag.ProjectId';
        });
        $("#ScheduleInfo").click(function () {
            window.location.href = 'ScheduleInfo?projectId=@ViewBag.ProjectId';
        });
        $("#ContractInfo").click(function () {
            window.location.href = 'ContractInfo?projectId=@ViewBag.ProjectId';
        });
        $("#ChangeInfo").click(function () {
            window.location.href = 'ChangeInfo?projectId=@ViewBag.ProjectId';
        });
        $("#VisaInfo").click(function () {
            window.location.href = 'VisaInfo?projectId=@ViewBag.ProjectId';
        });
        $("#QuestionInfo").click(function () {
            window.location.href = 'QuestionInfo?projectId=@ViewBag.ProjectId';
        });
        $("#DetailCrossingsManage").click(function () {
            window.location.href = 'CKProcedureDetail?projectId=@ViewBag.ProjectId';
        });
        $("#video").click(function () {
            window.location.href = 'Video?projectId=@ViewBag.ProjectId';
        });

        $(".accept_type").bind("click", function () {
            var type = $(this).data("type");
            var obj = $(this).siblings("[name=" + type + "]");
            if (obj.is(':visible')) {
                obj.hide();
            } else {
                $("tr[name=" + type + "]").hide();
                obj.show();
            }
        });
    });
</script>