@using hc.epm.UI.Common;
@using hc.epm.DataModel.Basic;
@{
    ViewBag.Title = "广告投放编辑";
}
<div class="container">
    <div class="row">
        <form class="form-horizontal bv-form" id="mainForm">
            <div class="form-group col-lg-12 col-sm-12 mb25">
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-5 col-sm-5 control-label" style="margin-left:-15px;"><em class="required">*</em>广告位 : </label>
                    <div class="col-lg-7 col-sm-7">
                        <select class="form-control selectpicker  show-tick" tabindex="-98" id="SelAdTargetName" name="SelAdTargetName">
                            @if (ViewBag.AdTargetList.Count > 0 && ViewBag.AdTargetList != null)
                            {
                                <option value="--请选择--">--请选择--</option>
                                foreach (var item in ViewBag.AdTargetList)
                                {
                                    <option value="@item.Id" data-itemid="@item.TargetNum" data-itemprice="@item.Price">@item.Name</option>
                                }
                            }
                        </select>
                        <input type="hidden" id="AdTargetId" name="AdTargetId" value="@Model.AdTargetId" />
                        <input type="hidden" id="AdTargetNum" name="AdTargetNum" value="@Model.AdTargetNum" />
                        <input type="hidden" id="AdTargetName" name="AdTargetName" value="@Model.AdTargetName" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 ">
                    <label class="col-lg-4 col-sm-4 control-label"><em class="required">*</em>广告名称：</label>
                    <div class="col-lg-8 col-sm-8">
                        <input type="text" class="form-control" name="AdName" id="AdName" value="@Model.AdName" placeholder="请输入广告名称" />
                        <input type="hidden" id="id" name="id" value="@Model.Id" />
                    </div>
                </div>


            </div>
            <div class="form-group col-lg-12 col-sm-12 mb25">
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-5 col-sm-5 control-label" style="margin-left:-15px;"><em class="required">*</em>广告位类型 : </label>
                    <div class="col-lg-7 col-sm-7">
                        @Html.DropDownList("SelAdTypeName", null, new { @class = "form-control selectpicker  show-tick" })

                        <input type="hidden" id="AdTypeNo" name="AdTypeNo" value="@Model.AdTypeNo" />
                        <input type="hidden" id="AdTypeName" name="AdTypeName" value="@Model.AdTypeName" />

                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-4 col-sm-4 control-label"><em class="required"></em>价格：</label>
                    <div class="col-lg-8 col-sm-8">
                        <input type="text" name="Price" id="Price" value="@Model.Price" placeholder="请输入价格" autocomplete="off" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-12 col-sm-12 mb25">

                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-5 col-sm-5 control-label" style="margin-left:-15px;"><em class="required">*</em>开始日期 : </label>
                    <div class="input-group col-lg-7 col-sm-7">
                        <input type="text" name="StartTime" style="text-align: left;border-radius: 4px;" id="StartTime" placeholder="开始日期" autocomplete="off" class="btn btn-default form-control" value="@(Model.StartTime.ToString("yyyy-MM-dd HH:mm:ss"))" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-4 col-sm-4 control-label"><em class="required">*</em>截止日期 : </label>
                    <div class="input-group col-lg-8 col-sm-8">
                        <input type="text" name="EndTime" id="EndTime" style="text-align: left;border-radius: 4px;" placeholder="截止日期" autocomplete="off" class="btn btn-default form-control" value="@(Model.EndTime.ToString("yyyy-MM-dd HH:mm:ss"))" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                    </div>
                </div>

            </div>

            <div class="form-group col-lg-12 col-sm-12 mb25">
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-5 col-sm-5 control-label" style="margin-left:-15px;"><em class="required">*</em>排序：</label>
                    <div class="col-lg-7 col-sm-7">
                        <input type="text" class="form-control" name="Sort" id="Sort" value="@Model.Sort" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-4 col-sm-4 control-label"><em class="required"></em>链接地址：</label>
                    <div class="col-lg-8 col-sm-8">
                        <input type="text" name="AdUrl" id="AdUrl" class="form-control" value="@Model.AdUrl" />
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-12 col-sm-12">
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-5 col-sm-5 control-label" style="margin-left:-15px;"><em class="required">*</em>是否启用 : </label>
                    <div class="col-lg-7 col-sm-7">
                        <select class="form-control selectpicker  show-tick" id="State" name="State" tabindex="-98">
                            @if (@Model.State == 1)
                            {
                                <option value="true" selected>启用</option>
                                <option value="false">禁用</option>
                            }
                            else {
                                <option value="false">启用</option>
                                <option value="true" selected>禁用</option>
                            }
                        </select>
                    </div>
                </div>

            </div>

            <div class="form-group col-lg-12 col-sm-12">
                <div class="col-lg-6 col-sm-6">
                    <label class="col-lg-5 col-sm-5 control-label" style="margin-left:-15px;"><em class="required"></em>附件上传 : </label>
                    <div class="col-lg-7 col-sm-7">
                        <input type="button" id="btnUploadFile" style="position: relative; z-index: 1;" value="上传附件" />
                        <input type="file" id="loadFile" name="loadFile" style="display:none" onchange="uploadFile()">
                    </div>
                </div>
            </div>
            <div style="width:100%;" id="fileListFile">
                <ul class="fileShow"></ul>
                <input type="hidden" name="fileDataJsonFile" id="fileDataJsonFile">
            </div>
            <div class="form-group col-lg-12 col-sm-12 has-feedback" style="margin-bottom:10px;">
                <label class="layui-form-label" style="font-weight:bold;margin-right:10px;"><em class="required">*</em>附件列表：</label>
                <div style="width:100%;">
                    <table class="layui-table" style="width:80%;text-align:center;word-wrap:break-word;word-break:break-all;">
                        <thead>
                            <tr>
                                <th class="table-center">附件名称</th>
                                <th width="90" class="table-center">附件格式</th>
                                <th width="100" class="table-center">大小</th>
                                <th width="90" class="table-center">上传时间</th>
                                <th width="70" class="table-center">操作</th>
                            </tr>
                        </thead>
                        <tbody id="fileList"></tbody>
                    </table>
                </div>
            </div>

            <div class="form-group col-lg-12 col-sm-12 mb25" style="margin-bottom:30px;margin-left:8px">
                <label class="col-lg-2 col-sm-2 control-label">备注 : </label>
                <div class="col-lg-9 col-sm-9" style="padding-left: 10px; padding-right: 20px;">
                    <textarea name="Remark" id="Remark" class="form-control" style="width:100%;min-height:100px;padding:5px 10px;border-color: #ccc" placeholder="请输入备注">@Model.Remark</textarea>
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="Description" data-bv-result="NOT_VALIDATED" style="display: none;">备注不能为空</small>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12" style="margin-top:25px">
                <div class="col-lg-6 col-sm-6" style="text-align:right;margin-bottom:10px">
                    <input type="button" name="save" id="save" lay-submit="" lay-filter="sub" value="保&nbsp;&nbsp;&nbsp;存" class="layui-btn layui-btn-small button-base bg-save">
                </div>
                <div class="col-lg-6 col-sm-6" style="margin-bottom:10px">
                    <input type="button" name="close" value="关&nbsp;&nbsp;&nbsp;闭" class="cancel layui-btn layui-btn-small button-base bg-cancel ">
                </div>
            </div>
        </form>
    </div>

</div>

<script>
    var fileDataArray = [];
    function uploadFile() {
        if (document.getElementById("loadFile").files.length == 0) {
            return;
        }
        var fileObj = document.getElementById("loadFile").files[0]; // js 获取文件对象
        var formFile = new FormData();
        formFile.append("file", fileObj);
        var path = formFile;

        $.ajax({
            url: "/Files/UploadHB",
            type: "POST",
            data: path,
            contentType: false,
            processData: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = {};
                    obj.Name = data[i].Name;
                    obj.GuidId = data[i].GuidId;
                    obj.Size = data[i].Size;
                    obj.ImageType = data[i].ImageType;
                    obj.Group = data[i].ResponseObject.FDFS_GROUP;
                    obj.Url = data[i].ResponseObject.FDFS_NAME;
                    fileDataArray.push(obj);

                    if (data[i].ImageType == null) {
                        var name = obj.Name;
                        var type = name.split(".");
                        var odiv = '<tr>';
                        odiv += '<td style=\"text-align:center \">' + type[0] + '</td>';
                        odiv += '<td>' + '.' + type[1] + '</td>';
                        odiv += '<td>' + obj.Size + '</td>';
                        odiv += '<td>' + new Date().toLocaleDateString() + '</td>';
                        odiv += '<td style=\"text-align:center\"><a class=\"delete-file\" data-val=' + obj.GuidId + ' style="color:red;cursor:pointer">删除</a></td></tr>';
                        $('#fileList').append(odiv);
                    }
                }
                fileDataJson = JSON.stringify(fileDataArray);
                $("#fileDataJsonFile").val(fileDataJson);
            }
        });
    }

    $(function () {
        $('#btnUploadFile').click(function () {
            document.getElementById("loadFile").click();
        });
    });
    $("#SelAdTargetName").change(function () {
        var price = $('#SelAdTargetName option:selected').data("itemprice");;
        $("#Price").val(price);

    });
    var adTypeId = $("#AdTypeId").val();
    $("#SelAdTypeName").val(adTypeId);

    var adTargetId = $("#AdTargetId").val();
    $("#SelAdTargetName").val(adTargetId);
    window.onload = function () {
        //自定义验证规则
        $('#mainForm').bootstrapValidator({
            excluded: [':hidden'],//[':disabled', ':hidden', ':not(:visible)'] //设置隐藏组件可验证
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                AdTargetName: {
                    validators: {
                        notEmpty: {
                            message: '广告位不能为空'
                        }
                    }
                },
                AdTypeName: {
                    validators: {
                        notEmpty: {
                            message: '广告类型不能为空'
                        }
                    }
                },
                AdName: {
                    validators: {
                        notEmpty: {
                            message: '广告名称不能为空'
                        }
                    }
                },
                Sort: {
                    validators: {
                        notEmpty: {
                            message: '排序不能为空'
                        }
                    }
                },
            }
        });
    }

    layui.use(['layer', 'form', 'element', 'laypage'], function () {
        var layer = layui.layer, form = layui.form, element = layui.element, $ = layui.jquery, laypage = layui.laypage;
      //获取图片附件
        $.post("/Files/GetFileList", { tableName: 'Epm_AdPutRecord', id: '@Model.Id' }, function (data) {
            if (data.Flag) {
                if (data.Data.length > 0) {
                    data.Data.forEach(function (item, index, arr) {
                        var obj = {};
                        obj.Name = item.Name;
                        obj.GuidId = item.GuidId;
                        obj.Size = item.Size;
                        obj.Group = item.FDFS_GROUP;
                        obj.Url = item.FDFS_NAME;
                        fileDataArray.push(obj);
                        fileDataJson = JSON.stringify(fileDataArray);
                        $("#fileDataJsonFile").val(fileDataJson);

                        if (item.ImageType == null) {
                            var time = item.OperateTime;
                            var date = new Date(parseInt(time.slice(6)));
                            var result = date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate();

                            var tyep = item.Name.split(".");
                            var odiv = '<tr>';
                            odiv += '<td style=\"text-align:center\"><a href="' + FileDownLoadURL + item.GuidId + '">' + tyep[0] + '</a></td>';
                            odiv += '<td>' + '.' + tyep[1] + '</td>';
                            odiv += '<td>' + plupload.formatSize(item.Size) + '</td>';
                            odiv += '<td>' + result + '</td>';
                            odiv += '<td style=\"text-align:center\"><a class=\"delete-file\" data-val=' + item.GuidId + ' style="color:red;cursor:pointer">删除</a><input type="hidden" class="hiddenArea" data-group="' + item.Group + '" data-url="' + item.Url + '" data-filename="' + item.Name + '"></td></tr>';
                            $('#fileList').append(odiv);
                        }
                    });
                }
            } else {
                parent.layer.alert(data.Message, { icon: 2 });
            }
        });


        //删除附件
        $("#fileList").on('click', 'a.delete-file', function () {
            $(this).parents("tr").remove();
            var toremove = '';
            var id = $(this).data("val");
            //----删除初始文件对应的值
            fileDataArray = fileDataArray.filter(function (item, index, arr) {
                return item.GuidId != id
            })
            fileDataJsonFile = JSON.stringify(fileDataArray);
            $("#fileDataJsonFile").val(fileDataJsonFile);
        });
        //下载附件
        $("body").on(".click", "tbody .downloadFile", function () {
            var group = $(this).parents("tr").find(".hiddenArea").data("group");
            var path = $(this).parents("tr").find(".hiddenArea").data("url");
            var fileName = $(this).parents("tr").find(".hiddenArea").data("filename");
            window.location.href = "/Files/DownLoadHB?group=" + group + "&path=" + path + "&fileName=" + fileName;

        });
        //自定义验证规则
        $('#mainForm').bootstrapValidator({
            excluded: [':hidden'],//[':disabled', ':hidden', ':not(:visible)'] //设置隐藏组件可验证
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                NewsTitle: {
                    validators: {
                        notEmpty: {
                            message: '新闻标题不能为空'
                        },
                        stringLength: {
                            max: 100,
                            message: '新闻标题长度不能超过50字符'
                        },
                    }
                },
                NewsTypeName: {
                    validators: {
                        notEmpty: {
                            message: '新闻类型名称不能为空'
                        },
                        stringLength: {
                            max: 100,
                            message: '新闻类型不能超过100字符'
                        },
                    }
                },
                ShortDesc: {
                    validators: {
                        notEmpty: {
                            message: '摘要不能为空'
                        }
                    }
                },
                Content: {
                    validators: {
                        notEmpty: {
                            message: '内容不能为空'
                        }
                    }
                },
            }
        });

        //监听提交
        form.on('submit(sub)', function (data) {
            var files = $("#fileDataJsonFile").val();
            if (files == "" || files == null) {
                parent.layer.alert("请上传附件", { icon: 2 });
                return;
            }

            var adTargetId = $('#SelAdTargetName option:selected').val();
            $("#AdTargetId").val(adTargetId);

            var adTargetNum = $('#SelAdTargetName option:selected').data("itemid");;
            $("#AdTargetNum").val(adTargetNum);

            var adTargetName = $('#SelAdTargetName option:selected').text();
            $("#AdTargetName").val(adTargetName);


            //广告类型下拉框
            var adTypeId = $('#SelAdTypeName option:selected').val();
            $("#AdTypeId").val(adTypeId);

            var adTypeName = $('#SelAdTypeName option:selected').text();
            $("#AdTypeName").val(adTypeName);


            if (adTargetName == "--请选择--") {
                parent.layer.alert("请选择广告位", { icon: 2 });
                return;
            }
            var adTypeName = $('#AdTypeName option:selected').val();
            if (adTypeName == "--请选择--") {
                parent.layer.alert("请选择广告类型", { icon: 2 });
                return;
            }


            var startTime = $("#StartTime").val();
            if (startTime == "") {
                parent.layer.alert("请选择开始日期", { icon: 2 });
                return;
            }

            var endTime = $("#EndTime").val();
            if (endTime == "") {
                parent.layer.alert("请选择截止日期", { icon: 2 });
                return;
            }
            //对表单进行验证
            var bv = $('#mainForm').data('bootstrapValidator');
            bv.validate();
            if (bv.isValid()) {
                var search = $("form").serialize();
                $.post("Edit", search, function (data) {
                    if (data.Flag) {
                        parent.layer.msg("广告编辑成功", { time: 1000, icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            parent.layer.close(index);//关闭窗口
                            parent.window.frames["mainFrame"].location.reload();
                            console.log(data.name)
                        });
                    } else {
                        layer.alert(data.Message, { icon: 2 });
                    }
                });
                return true;
            } else {
                parent.layer.alert("请检查必填项是否填写完整。", { icon: 1 });
            }
            return false;
        });

        //关闭弹出iframe层
        $('.cancel').on("click", function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭窗口
        });
    });
</script>
